.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.info {
    height:50px;
    font-size:12px;
}

.info-title {
    font-weight: bold;
}

#countDownText {
    border: 3px solid black;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;
    padding:14px;
    text-align:center;
}
