.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.info {
    height:50px;
    font-size:12px;
}

.info-title {
    font-weight: bold;
}

#countDownText {
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 7px;
    padding:7px;
    text-align:center;
}

.ajaxLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 100;
    display:none;
}